NEXT_PUBLIC_APK_URL=https://82soys46zdxg7yh3.public.blob.vercel-storage.com/RybnoeMesto_0.1.0-beta.5.apk
NEXT_PUBLIC_TELEGRAM_URL=https://t.me/+6jhVn0EWIPE0MzE8
NEXT_PUBLIC_BUG_REPORT_URL=https://t.me/+6jhVn0EWIPE0MzE8
NEXT_PUBLIC_VK_URL=
NEXT_PUBLIC_YOUTUBE_URL=
NEXT_PUBLIC_PRIVACY_URL=
